{% load static %}
{% if motobikes %}
<div class="form-group" >
<div class="cont1">
    <div class="form-group" style="position: relative;">
        <form action="" style="width: auto;margin-left: auto;margin-right: auto;" >
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="type your comment here"><button class="btn btn-secondary" style="margin-left: 10px;">comment</button>
            </div>
        </form> <br>
        <div style="padding-left: 20px;">
            <h5><strong>commennts</strong></h5>
            <ul>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dicta temporibus nihil nulla voluptatem, qui esse odit, ipsam nam blanditiis debitis. Sunt dicta quas nulla consectetur beatae non, sequi fugiat?
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto dicta temporibus nihil nulla voluptatem, qui esse odit, ipsam nam blanditiis debitis. Sunt dicta quas nulla consectetur beatae non, sequi fugiat?
                </li>
            </ul>
        </div>
    </div>
</div>

</div>
{% endif %}


