{% extends 'baseapp/main.html' %}
{% load static %}
{% block content %}

<div class="row rou" style="margin-top: 10px;">

    {% if user.is_authenticated %}
    {% if user.id == product.user.id %}
    
    <a href="{% url 'editproduct' product.id %}" class="btn btn-outline-primary" style="margin-bottom: 10px;margin-left: 30px;margin-top: 10px;">Edit Product</a>
    <a href="{% url 'removeproduct' product.id %}" class="btn btn-outline-danger" style="margin-bottom: 10px;margin-left: 30px;margin-top: 10px;">Remove Product</a>
    <a href="#"><button class="btn btn-success" style="margin-bottom: 10px;margin-left: 30px;margin-top: 10px;"><i class="fas fa-cart-plus"></i> Buy</button></a> 
    {% endif %}
    {% endif %}
    

</div>
<hr>

<div class="row">
    
<div class="col-sm-4" >
    <p class="pText1" style="margin-left: 20px;"><strong>Description</strong></p>
        <br>
        <div style="padding: 20px;">
            <h3>{{product.product_name|title}}</h3><strong>Price: Ksh.{{product.price}}</strong> <br> <br>
        <p>{{product.description}}</p>
        </div>
</div>
<div class="col-sm-8" ">
  <div style="padding: 10px;">
    <p class="pText1"><strong>Product Images</strong></p>
    {% if product.image1  %}
    <img src="{% if product.image1  %}{{product.image1.url}}{% else %}{% endif %}" alt="" width="300" height="300" style="margin-top: 5px;" class="rounded rou">
    {% endif %}
    {% if product.image2  %}
    <img src="{% if product.image2  %}{{product.image2.url}}{% else %}{% endif %}" alt="" width="300" height="300" style="margin-top: 5px;" class="rounded rou">
    {% endif %}
    {% if product.image3  %}
    <img src="{% if product.image3  %}{{product.image3.url}}{% else %}{% endif %}" alt="" width="300" height="300" style="margin-top: 5px;" class="rounded rou">
    {% endif %}
    {% if product.image4  %}
    <img src="{% if product.image4  %}{{product.image4.url}}{% else %}{% endif %}" alt="" width="300" height="300" style="margin-top: 5px;" class="rounded rou">
    {% endif %}
</div>
</div>

</div>
{% include 'baseapp/footer.html' %}
{% endblock content %}