{% load static %}

<div class="form-group" >
<div class="cont1">
    <ul class="ul" >
        <li class="li">
            <div class="container">          
                <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
              </div> 
        </li>


        <li class="li">
            <div class="container">          
                <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
              </div> 
        </li>

        <li class="li">
            <div class="container">          
                <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
              </div> 
        </li>

        <li class="li">
            <div class="container">          
                <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
              </div> 
        </li>

        <li class="li">
            <div class="container">          
                <img src="{% static 'images/user.png' %}" class="rounded-circle" alt="Cinque Terre" width="304" height="236"> 
              </div> 
        </li>
    </ul>
</div>

</div>

<div class="container">
   
</div>




 



