{% extends 'baseapp/main.html' %}

{% load static %}
{% block content %}
<div class="container-fluid">
   <br>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="pText1"><strong> About us</strong></h2>
        <hr>
        <br>
        <div>
            <p>
                Olingstore is the Kenya's no. 1 online affiliate retailer , was established in May 2021 with the aim and vision to become the
                 one-stop shop affiliate for retail in Kenya .olingstore is the best platform to build 
                 a great future and career in Sales and E-commerce with an international company.
                 it was founded and developed by Abdulaziz olinga said who is currently the CEO of the compony.
                accoding to Abdulaziz olinga said the compony is going to be one among the largest E-commerce componies in
                kenya.
                 
            </p>
        </div>
    </div>
{% endblock content %}