{% extends 'baseapp/main.html' %}

{% load static %}
{% block content %}
<div class="container-fluid">
   <br>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="pText1"><strong> Contact us</strong></h2>
        <hr>
        <br>
        <div>
            <p style="color: rgb(62, 62, 70);"> <a class="fb-ic"> <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a> follow us on facebook <a href="">@ olingstore</a></p>
            <p style="color: rgb(62, 62, 70);"> <a class="fb-ic"> <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a> follow us on twitter <a href="">@ olingstore</a></p>
            <p style="color: rgb(62, 62, 70);"> <a class="fb-ic"> <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a> follow us on linked-in <a href="">@ olingstore</a></p>
            <p style="color: rgb(62, 62, 70);"> <a class="fb-ic"> <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a> follow us on instagram <a href="">@ olingstore</a></p>
            <p style="color: rgb(62, 62, 70);"> <a class="fb-ic"> <i class="fab fa-pinterest fa-lg white-text fa-2x"></i></a>               follow us on pinterest <a href="">@ olingstore</a></p>
        </div>
        <hr>
        <div>
            email us on : <br> <br>
           <p> <i class="fas fa-envelope"></i> :abdulazizolinga17@gmail.com</p>
           <p> <i class="fas fa-envelope"></i> :saidabdulazizolinga@gmail.com</p>

           contact us on : <br> <br>
           <p><i class="fas fa-phone"></i> +254769210601</p>
        </div>
    </div>
{% endblock content %}