<div class="footer" style="height: auto;">
    <div class="row">
        <div class="col-sm">
            <h3 style="color: white; padding: 20px;">About us</h3>
            <hr>
            <div style="padding: 10px;">
                <p style="color: aliceblue;">
                    Olingstore is the Kenya's no. 1 online affiliate retailer , was established in May 2021 with the aim and vision to become the
                    one-stop shop affiliate for retail in Kenya .olingstore is the best platform to build 
                    a great future and career in Sales and E-commerce with an international company.
                    it was founded and developed by Abdulaziz olinga said who is currently the CEO of the compony.
                
                </p>
                <a href="{% url 'about' %}"><button class="btn btn-outline-secondary">Read more</button></a>
            </div>
        </div>
        <div class="col-sm" style="margin-bottom: 40px;">
            <h3 style="color: white;padding: 20px;">Contact us</h3>
            <hr>
            <div style="padding-left: 20px;">
                <div style="display: flex;">
                    <div>
                        <a class="fb-ic"> <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
                    </div>
                    <br>
                    <div>
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                          </a>
                    </div>
                    <br>
                    <div>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                          </a>
                    </div>
                    <br>
                    <div>
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                          </a>
                    </div>
                    <br>
                    <div>
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                          </a>
                    </div>
                    
                </div> <br>
                <p style="color: aliceblue;">you can contact us on email @:</p>
                <hr>
                <p style="color: aliceblue;"><i class="fas fa-envelope"></i> email 1 : abdulazizolinga@gmail.com</p>
                <p style="color: aliceblue;"><i class="fas fa-envelope"></i> email 2 : saidabdulazizolinga@gmail.com</p>
                <p style="color: aliceblue;"><i class="fas fa-phone" ></i> +254769210601</p>
                <a href="{% url 'contact' %}"><button class="btn btn-outline-secondary">Contact us</button></a>
            </div>
        </div>

        <br><br>
    </div>
</div>
