{% extends 'baseapp/main.html' %}
{% block content %}
<br>
<div class="container " style="margin-bottom: 40px;">
        <div class="form-group">
            <form action="" class="form" method="POST">
                <h3>Setup your Info</h3>
                <p>Your customers will use this infomation to cotantact with you , make sure information are coreect</p>
                <hr>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-secondary" value="Save">
            </form>
        </div>
</div>
<script>
    var currUser='{{user.id}}'
    document.getElementById('user').value=currUser
</script>
{%endblock%}

